# Mémo pour le SQL :

### Liens utiles :
- [Tutoriel](https://fr.khanacademy.org/computing/computer-programming/sql?ref=resume_learning#sql-basics) pour les bases du SQL
-


## 1- Bases :

- Mettre des ";" à chaque fin d'instruction
- Écrire en majuscules les commandes SQL comme "CREATE" ou "INSERT"
- Comme pour Python écrire le texte entre "**guillemets**"


## 2- Créer une table :

### • Fonctionnement :

- CREATE TABLE *ma_table* (

    x **INTEGER** PRIMARY KEY (utile pour les ID),

    y **TEXT** (texte divers, STR), 

    z **INTEGER** (nombres, INT et FLOAT), 
    
    ...)**;**

##### Ainsi une table nommée *ma_table* est crée prenant pour paramètres **x**, **y**, **z**, ...

- Exemple de rendu :

|*ma_table*|*0 rows*|
|----------|--------|
|  x (PK)  |  INTEGER  |
|  y  |  TEXT  |
|  z  |  INTEGER  |

### • Commande :

- "CREATE TABLE test(...)"


## 3- Insérer des données dans ma table :

### • Fonctionnement :

- INSERT INTO customers VALUES (

    **1** (valeur attribuée à x), 

    **"*test*"** (valeur attribuée à y),

    **17** (valeur attribuée à z),
    
    ...)**;**

##### Les valeurs 1, test, 17, ... sont ajoutées à la table *ma_table*, chaque valeur est liée à un paramètre : 1 avec x, test avec y etc.

- Exemple de rendu :

|*X*|*Y*|*Z*|
|---|---|---|
| 1 | test | 17  |
| 2 | ... | ... |

### • Commande :

- "INSERT INTO test(...)"

## 4 - Interroger les données de ma table :

### • Fonctionnement :

- SELECT **x** FROM *ma_liste*

##### Les valeurs correspondants à **x** seront affichées, x peut être remplacé par :
- "*" : affiche tout les éléments de *ma_liste*
- "Y" : affiche une colonne en particulier (ou plusieurs avec ",")

##### Il existe également